body {
    background-color:#201e20;
}
p {
    color: floralwhite;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
.purpleLink {
    color:#6e42c6;
    text-decoration: none;
}
.mainSection {
   margin-top: 93px; 
   padding-left: 186px;
   padding-right: 186px;
}
.TodasLasImg {
   height: 500px;
}
.arribaImg {
    height: 100px;
}
.VIDEO {
    height: 500px;
    width: 100%;
}